###############################################################################
# This file can be used to provide additional configuration for the VM such as
#  whether or not to use a cloud image as the boot disk for the VM. 
# It is not required and if it doesn't exist it is skipped.
###############################################################################

# The cloud image to use for the VM's boot disk file
#
# This file is realtive to /home/images/${COURSE_NUM}/
#
BOOTDISK_CLOUD_IMAGE=


# The name of the VM's boot disk file
#
# This file is relative to the VM's directory.
#
BOOTDISK=disk01.qcow2


# Size to make the VM's boot disk file
#
# This is the size that the specified BOOTDISK will be resized to.
#
# This should be in the format: <number><unit>
# Where <number is the size< and <unit> is the size unit to use.
#
# For example, for a 50 gigabyte disk you would use: 50G
#
# If ithis is not set the size will be determined based on the
# size of the existing BOOTDISK.
#
BOOTDISK_SIZE=


# Whether or not to rebuild cloud-init.iso to provide VM config
#
# Options: true|false
#
# Default: true
#
# If this is set to true then it is assumed that the VM will have CD-ROM drive
# with an iso named cloud-init.iso located in the VM's directory attached.
#
# If you already have a cloud-init.iso confgured the way you want you can set 
# this to false and the cloud-init.iso will not be rebuilt using the 
# cloud-init config in the CLOUDINIT_DIR.
#
REBUILD_CLOUDINIT_ISO=true


# Directory containing the cloud-init config for the VM
#
# This is the name of the directly that contains cloud-init config files. An
# iso named cloud-init.iso will be generated containing this files which is 
# assumed to be attached to the VM's CD-ROM drive whereby providing the 
# cloud-init config to the VM. 
# By default it is a direclty name cloud-init inside of the VM's directory. 
# However, you can also provide an absolute path to another directory that 
# contains the VM specific cloud-init config.
#
# Default: ${VM_DEST_DIR}/${COURSE_NUM}/${VM}/cloud-init
#
CLOUDINIT_DIR=${VM_DEST_DIR}/${COURSE_NUM}/${VM}/cloud-init


